version: '3.8'

services:
  postgres:
    image: postgres:16  # PostgreSQL 16 버전 이미지
    container_name: transcall_postgres
    env_file:
      - .env
    ports:
      - "5432:5432"                  # 호스트:컨테이너 포트 매핑
    volumes:
      - postgres_data:/var/lib/postgresql/data  # 데이터 보존

volumes:
  postgres_data: