services:
  redis:
    env_file:
      - .env
    image: redis:7-alpine
    container_name: transcall-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --requirepass ${REDIS_PASSWORD}

  postgres:
    image: postgres:16
    container_name: transcall-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${DB_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  janus:
    build:
      context: ./janus
      dockerfile: Dockerfile
    container_name: janus-gateway
    ports:
      - "80:80/tcp"           #turn port
      - "8086:8086"           # Nginx (demo page 서빙)
      - "8088:8088"           # HTTP REST API
      - "8188:8188"           # WebSocket
      - "7088:7088"           # HTTP ADMIN
      - "40000-40100:40000-40100/udp" # UDP 포트
    volumes:
      - ./janus/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./janus/janus.jcfg:/usr/local/etc/janus/janus.jcfg:ro
      - ./janus/janus.transport.http.jcfg:/usr/local/etc/janus/janus.transport.http.jcfg:ro
    restart: unless-stopped

  whisper-en:
    build:
      context: ./whisper
      dockerfile: Dockerfile
    container_name: whisper-en
    environment:
      - LANGUAGE=en
      - PORT=2000
    ports:
      - "2000:2000"
    volumes:
      - ./hf-cache:/root/.cache/huggingface/hub

  whisper-ko:
    build:
      context: ./whisper
      dockerfile: Dockerfile
    container_name: whisper-ko
    environment:
      - LANGUAGE=ko
      - PORT=2001
    ports:
      - "2001:2001"
    volumes:
      - ./hf-cache:/root/.cache/huggingface/hub

  whisper-auto:
    build:
      context: ./whisper
      dockerfile: Dockerfile
    container_name: whisper-auto
    environment:
      - LANGUAGE=auto
      - PORT=2100
    ports:
      - "2100:2100"
    volumes:
      - ./hf-cache:/root/.cache/huggingface/hub

volumes:
  redis-data:
  pgdata: